.button {
  color:#C3CDDF;
  border: 2px solid #C3CDDF;
  background-color: #1E212B;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: large;
}

.active {
  color: #1E212B;
  border: 2px solid #C3CDDF;
  background-color: #C3CDDF;
}
