.modal {
  display: block;
  position: absolute;
  background: #f0f0f0;
  width: 400px;
  filter: drop-shadow(4px 4px 4px #C3CDDF);
  border: 2px solid #C3CDDF;
}

.main-flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  margin: 20px;
}

.save-button {
  margin: 20px;
  display: flex;
  justify-content: right;
}

.input {
  color: #1E212B;
  border: 2px solid #C3CDDF;
  background-color: #C3CDDF;
}